/*
Syntax error: Invalid CSS after " */": expected expression (e.g. 1px, bold), was ".ir {"
        on line 122 of css/main.scss

117: 
118: /*
119:  * Image replacement
120:  */
121: 
122: .ir {
123:     background-color: transparent;
124:     border: 0;
125:     overflow: hidden;
126:     /* IE 6/7 fallback */
127:     *text-indent: -9999px;

Backtrace:
css/main.scss:122
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:1146:in `expected'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/lexer.rb:199:in `expected!'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/parser.rb:472:in `assert_expr'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/parser.rb:49:in `parse'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:1022:in `sass_script'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:882:in `value!'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:859:in `declaration'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:582:in `block in declaration_or_ruleset'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `call'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:554:in `block_child'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:535:in `block'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:553:in `block_child'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/scss/parser.rb:27:in `parse'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/engine.rb:342:in `_to_tree'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/Michael/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \" */\": expected expression (e.g. 1px, bold), was \".ir {\"\A         on line 122 of css/main.scss\A \A 117: \A 118: /*\A 119:  * Image replacement\A 120:  */\A 121: \A 122: .ir {\A 123:     background-color: transparent;\A 124:     border: 0;\A 125:     overflow: hidden;\A 126:     /* IE 6/7 fallback */\A 127:     *text-indent: -9999px;"; }
