@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lora);
/* line 6, ../scss/resume.scss */
body div, body h1 {
  width: 960px;
  margin: 0 auto;
}

/* line 10, ../scss/resume.scss */
h1 {
  font-size: 5em;
}

/* line 13, ../scss/resume.scss */
ul, li {
  display: block;
  margin: auto;
}

/* line 17, ../scss/resume.scss */
h2 {
  margin-bottom: 8px;
  border-bottom: 1px solid #000000;
}

/* line 21, ../scss/resume.scss */
h3, h4 {
  margin: 0px 5px 0 0;
  line-height: 1.2em;
}

/* line 25, ../scss/resume.scss */
h3 {
  margin-top: 12px;
}

/* line 28, ../scss/resume.scss */
h4 {
  margin-bottom: 2px;
}

/* line 31, ../scss/resume.scss */
h4 em {
  font-size: .9em;
}

/* line 35, ../scss/resume.scss */
p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  margin-bottom: 8px;
}

/* line 41, ../scss/resume.scss */
#trip {
  font-style: italic;
  font-size: .9em;
}

/* line 49, ../scss/resume.scss */
span.notice {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: .8em;
  display: block;
  margin-bottom: 5px;
  margin-top: -2px;
}

/* line 58, ../scss/resume.scss */
ul, li {
  font-family: 'Open Sans', sans-serif;
}
/* line 60, ../scss/resume.scss */
ul em, li em {
  font-size: .8em;
}

@media only screen and (max-width: 1024px) {
  /* line 66, ../scss/resume.scss */
  body div, body h1 {
    width: auto;
    text-align: justify;
  }
}
@media print {
  /* line 76, ../scss/resume.scss */
  p, ul, li, span.notice {
    font-family: "Lora", serif;
  }

  /* line 80, ../scss/resume.scss */
  body {
    font-family: "Lora", serif;
    margin-top: 0px;
  }

  /* line 84, ../scss/resume.scss */
  #contact {
    margin: 0px;
    width: auto;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  /* line 93, ../scss/resume.scss */
  body h1 {
    margin-bottom: 50px;
  }

  @page {
    size: auto;
    margin: 20mm 20mm 20mm 20mm;
}

  /* line 101, ../scss/resume.scss */
  #getty {
    page-break-before: always;
  }
}
